header.header.filter#nav
  .header-action: span.icon.ti-menu
  .header-filter.text-left
    .input-group-horizontal.has-icon.icon-left.search
      span.icon.ti-search
      input(type="search", placeholder="Search Projects...")
    .input-group-horizontal.has-icon.icon-right
      select
        option(value="Filter Projects...", selected, disabled) Filter Projects...
      span.icon.ti-angle-down
    .input-group-horizontal.has-icon.icon-left
      .tags-row
        .tag One
          span.ti-close
        .tag Two
          span.ti-close
        .tag Three
          span.ti-close
        .tag Four
          span.ti-close

.container
  p Browse