.new-project
  padding-top ($padding * 4)
  padding-bottom ($padding * 3)
  hr
    margin ($padding * 2) 0
  .row
    clearfix()
    margin-left -($padding)
    margin-right -($padding)
    .col
      float left
      padding 0 $padding
  .question
    color $c-blue
    display block
    font-size 32px
    small
      color $c-copy
      display block
      font-size 12px
      line-height 18px
      margin-bottom ($padding * 2)
  .input-group
    // margin 0 0 ($padding * 2) ($padding * 6)
    position relative
    &:before
      bottom 0
      content attr(data-label)
      font-size 12px
      font-weight 600
      left -120px
      letter-spacing 0.125em
      line-height 42px
      margin auto
      position absolute
      top 0
    &[data-label]
      margin 0 0 $padding 120px
  .date-picker
    margin-left -($padding)
    margin-right -($padding)
    margin-top 0
    & > *
      margin 0
      padding 0 $padding
      &.d
        border-left 1px solid $c-border
        border-right 1px solid $c-border
    label
      color $c-gray
      font 600 8px/8px $fn-primary
      letter-spacing 0.125em
    .select
      span.ti-angle-down
        bottom 0
        position absolute
        right -5px
        top 0
      select.form-control
        border 0
        color $c-copy
        font-size 18px
        height 18px
        line-height 18px
        outline 0
        padding 0
  .phase-picker
    .input-group
      margin 0 0 $padding 0
      padding-left ($padding + 10)
      input[type="radio"]
        display none
        &:checked ~ label:before
          content ""
      label
        cursor pointer
        font-size 14px
        font-weight 600
        line-height 16px
        &:before
          border 1px solid $c-border
          border-radius 16px
          box-shadow none
          content ""
          display inline-block
          height 16px
          left 0
          position absolute
          top 2px
          vertical-align middle
          width 16px
        span.title:before
          background $c-blue
          border-radius 12px
          box-shadow none
          content ""
          display inline-block
          height 12px
          left 3px
          opacity 0
          position absolute
          top 5px
          transition opacity 200ms ease
          width 12px
        input:checked + span.title:before
          opacity 1
          animation ChoosePhase 400ms 1
        &:hover span.title:before
          opacity 0.5
        span.description
          display block
          font normal 12px/20px $fn-primary
  span.alternate-methods
    color $c-gray
    display block
    font-size 10px
    letter-spacing 0.15em
    line-height 32px
  .method-card
    border 1px solid $c-border
    border-radius 4px
    box-shadow 0 1px 4px rgba(#3F4E5A, 0.1)
    color $c-gray
    margin-bottom ($padding + 10)
    padding ($padding + 10) ($padding + 15) ($padding + 15)
    transition all 300ms ease
    span
      font-size 10px
      letter-spacing 0.15em
    strong
      display block
      font-size 16px
      font-weight 500
      line-height 32px
    p
      font-size 12px
      margin 0
    .meta
      margin-top $padding
      span
        display block
        margin-bottom 5px
    &:hover
      background #FEFEFE
      border-color darken($c-border, 0.1)
      box-shadow 0 1px 8px rgba(#3F4E5A, 0.2)
      cursor pointer
    &.active
      border-color $c-teal
      color $c-copy
      strong
        font-weight 600
  .l-col
    width 66.666666%
  .r-col
    width 33.333333%
  .related
    background #F6F9FA
    border-radius 4px
    padding ($padding - 5) $padding $padding
    span.title
      color $c-gray
      display block
      font-size 10px
      font-weight 600
      letter-spacing 0.15em
      margin-bottom ($padding / 2)
    ul
      list-style none
      margin 0
      padding 0
      li
        font-size 12px
        font-weight 400
        &:nth-child(n+2)
          margin-top $padding
        span.date
          color $c-gray
          display block
          font-size 8px
          letter-spacing 0.125em

.question-body
  margin-bottom $padding * 2          

footer
  // background #F6F9FA
  bottom 0
  left 0
  // position fixed
  width 100%
  &.fixed
    background #F6F9FA
    position fixed
  .btn
    border 1px solid transparent
    padding 0 ($padding * 2)
    width auto
    &:first-of-type
      float left
    
.wizard-header
  border-bottom 1px solid $c-light-gray
  .flex-row
    align-items flex-end
  .project-title
    color $c-blue
    flex-grow 5
    font-size 22px
    line-height 32px
    padding 5px 0
    input
      color $c-blue
      width 100%
  .meta-item
    flex-grow 1
    font-size 14px
    padding ($padding / 2) $padding
    white-space pre
    width auto
    input
      width 90px
    &:nth-of-type(n+3)
      border-left 1px solid $c-light-gray
    &:last-of-type
      padding-right 0
  input
    appearance none
    border 0
    line-height inherit
    outline 0
    padding 0
    +placeholder()
      color $c-gray
  span
    color $c-gray
    display block
    font-size 8px
    font-weight 600
    letter-spacing 0.15em
    line-height 12px

.wizard-container
  margin ($padding * 3) auto
  max-width 990px
  .input-group
    margin-bottom ($padding * 2)
    padding-left ($padding + 10)
.input-group
  position relative
  .status
    border 1px solid
    border-radius 18px
    color $c-border
    font-size 10px
    height 18px
    left 0
    line-height 16px
    position absolute
    text-align center
    top 0
    transition border 300ms ease
    vertical-align middle
    width 18px
    span
      opacity 0
      position relative
      top 2px
      transition opacity 300ms ease
  .question
    color #8CA0B3
    font-size 12px
    font-weight 600
    line-height 18px
    letter-spacing 0.125em
    .description
      font-size 12px
      font-weight 400
      letter-spacing 0.05em
      margin-bottom ($padding / 2)
  ol.fields
    color $c-gray
    font-size 12px
    font-weight 500
    & > li
      margin-bottom $padding
      padding-left ($padding / 2)
      position relative
      span.icon
        color $c-gray
        position absolute
        left 102%
        top 0
        &:hover
          color $c-copy
  textarea.form-control
    height auto
    line-height 18px
    padding-top ($padding / 2)
    padding-bottom ($padding / 2)
    vertical-align top
    & + textarea.form-control
      margin-top ($padding / 2)
  &.complete
    .status
      border 1px solid $c-gray
      span
        color darken($c-gray, 20%)
        opacity 1
  &.active
    .status
      border 1px solid $c-teal
      span
        color $c-teal
span.add
  color $c-gray
  font-size 12px
  padding-left ($padding + 30)
  span
    margin-right ($padding / 2)
    position relative
    top -1px

@keyframes ChoosePhase
  0%
    box-shadow 0 0 0 0 rgba($c-blue, 0)
  50%
    box-shadow 0 0 0 4px rgba($c-blue, 0.6)
  100%
    box-shadow 0 0 2px 6px rgba($c-blue, 0)