.move
  cursor move
  height 24px
  left 0
  line-height 24px
  position absolute
  text-align center
  width 24px
  i
    color $c-gray
    position relative
    top -1px
    transition color 200ms ease
    vertical-align middle
    &:hover
      color $c-teal
  &:active
    cursor grabbing
.item-label
  background #424242
  border-radius 20px
  bottom 0
  color white
  display inline-block
  font-size 12px
  height 24px
  left 30px
  line-height 24px
  position absolute
  text-align center
  top 0
  vertical-align middle
  width 24px
  .item-description
    background white
    border 1px solid $c-light-gray
    border-radius 2px
    box-shadow 0 1px 10px rgba(#3F4E5A, 0.1)
    color #67717A
    font normal 12px/26px $fn-primary
    left 50%
    margin auto
    opacity 0
    padding 0 ($padding - 5)
    position absolute
    top 130%
    transform translateX(-50%)
    transition opacity 200ms ease
    white-space pre
    z-index -1
    &:before,
    &:after
      content ""
      height 0
      left 0
      margin auto
      position absolute
      right 0
      top -5px
      width 0
    &:before
      border-bottom 5px solid white
      border-left 5px solid transparent
      border-right 5px solid transparent
      z-index 2
    &:after
      border-bottom 6px solid $c-light-gray
      border-left 6px solid transparent
      border-right 6px solid transparent
      top -6px
      z-index 1
  &:before
    content attr(data-content)
  &:hover
    .item-description
      opacity 1
      z-index 1
  &.remove
    background white !important
    border 1px solid $c-gray !important
    color $c-gray !important
    &:hover
      background #F04533 !important
      border-color #F04533 !important
      color white !important
.persona
  background white
  border 1px solid $c-light-gray
  border-radius 4px
  box-shadow 0 1px 4px rgba(#3F4E5A, 0.1)
  float left
  position relative
  width 200px
  &:nth-child(2)
    margin-left 4em
    &:before
      background $c-icons
      bottom 0
      content ""
      height 60px
      left -2em
      margin auto
      position absolute
      top 0
      width 1px
  &:nth-child(3)
    margin-left 2em
  .persona-header
    background-color #424242
    background-size cover
    border-radius top 4px
    color white
    padding ($padding * 5) $padding $padding
    position relative
    &:after
      background linear-gradient(rgba(black, 0), rgba(black, 0.5))
      bottom 0
      content ''
      height 100px
      left 0
      position absolute
      width 100%
      z-index 0
    .persona-header_tag
      background $c-blue
      border-radius 2px
      color white
      font-size 10px
      font-weight 600
      left $padding
      letter-spacing 0.1em
      line-height 22px
      padding 0 ($padding / 2)
      position absolute
      top $padding
    .persona-header_name,
    .persona-header_title
      font-family $fn-title
      position relative
      z-index 1
    .persona-header_name
      font-size 16px
      font-weight 400
      letter-spacing 0.075em
      line-height 22px
    .persona-header_title
      font-size 10px
      font-weight 300
      line-height 14px
      letter-spacing 0.125em
      text-transform uppercase
  .persona-content
    font-size 12px
    line-height 20px
    padding $padding
    
.quote
  padding-left 70px
  position relative
  .item-label.quote-icon
    background transparent
    i
      color #F04533
      font-size 24px
      position relative
      top -2px
    /*
    left 6px
    position absolute
    top -2px
    vertical-align bottom
    */
  .quote-meta
    color $c-gray
    font 400 13px/13px $fn-title
    // font-weight 300
    letter-spacing 0.05em
  .quote-content
    font italic 18px/24px Times, "Times New Roman", Georgia, serif
    letter-spacing 0.05em
    margin ($padding / 2) 0
  .quote-author
    align-items center
    display flex
    font 400 12px/12px $fn-title
    // font-weight 300
    letter-spacing 0.075em
    .qa-photo
      background-size cover
      border 2px solid #A2AFBC
      border-radius 48px
      height 48px
      margin-right ($padding / 2)
      width 48px
    .qa-content
      color $c-gray
      flex-grow 2
      font-family $fn-title
      .qa-name
        font-size 13px
        font-weight 400
        letter-spacing 0.05em
      .qa-title
        font-size 11px
        font-weight 300
        letter-spacing 0.15em
        line-height 11px
        text-transform uppercase
.attachments
  list-style none
  margin 0 -20px
  padding 0
  li
    color $c-blue
    display inline-block
    font-size 14px
    padding 0 $padding
    a
      color inherit
      text-decoration none

.project-title
  h1, p
    margin 0
  h1
    color $c-blue
    font 300 30px/42px $fn-title
    letter-spacing 0.01em
  p
    font normal 16px/20px $fn-primary
  .project-cat
    color #9FACB9
    font-size 10px
    font-family $fn-title
    letter-spacing 0.15em
    // margin-bottom ($padding / 4)
    text-transform uppercase
  hr
    margin ($padding + 10) auto ($padding * 3)
  .attachments li
    display inline-block
  .ti-close
    color $c-copy
    flex 0
    position absolute
.project-content
  padding 80px 0 65%
  position relative
  // white-space pre-line
  .project-content_section
    font normal 14px/24px $fn-primary
    word-wrap break-word
    h3
      display inline-block
      font 600 16px/24px $fn-primary
      vertical-align middle
      width 100%
    h2
      font 300 20px/20px $fn-title
      letter-spacing 0.05em
      margin 0
      position relative
      & > span
        display block
        color #8A95A1
        font-size 15px
        font-weight 300
        letter-spacing 0.03em
        line-height 26px
      & > i
        color $c-gray
        font-size 14px
        opacity 0
        transition opacity 200ms ease
      & > .toggle-edit
        font-size 16px
        height 24px
        left -24px
        margin auto
        position absolute
        top 1px
        vertical-align top
        width 24px
      &:hover i
        opacity 1
        &:hover
          color $c-teal
          cursor pointer
    h3
      margin 0
    .content
      margin ($padding + 10) 0 0
      ul.list
        list-style none
        margin 0
        padding-left 0
        & > li
          padding-left 70px
          position relative
          p.note
            color $c-gray
            font 300 12px/20px $fn-title
            letter-spacing 0.05em
            margin-top 5px
          &:nth-child(n+2)
            margin-top 20px
          &.add
            cursor pointer
            clear both
            display inline-block
            float left
            small
              color $c-gray
              cursor pointer
              display inline-block
              font 400 10px/10px $fn-title
              letter-spacing 0.15em
              vertical-align middle
            .item-label
              background transparent
              border 1px dotted
              color $c-gray
              transition background 200ms ease, color 100ms ease
            &:hover
              .item-label
                background $c-blue
                border-color $c-blue
                color white
      &:after
        content ""
        display table
        clear both
    &.project-goal
      ul > li > .item-label
        background-color #A0AEBB
        &.primary
          background-color $c-blue
      ul li + li
        margin-top 20px !important
    &.questions-considered
      ul > li
        h3
          margin 0
        .hide
          height 24px
          overflow hidden
          text-overflow ellipsis
          white-space pre
        & > .item-label
          background transparent
          border 1px solid #9FAEBB
          color #9FAEBB
          transition all 200ms ease
          span.ti-angle-right
            position relative
            left 1px
          span.ti-angle-up
            left 0.5px
            position relative
            top -1px
          &:hover
            background $c-blue
            border 1px solid $c-blue
            color white
        &.open
          & > .item-label
            border 1px solid $c-blue
            span
              color $c-blue
              transform rotate(-45deg)
            &:hover
              background transparent
    &.key-findings
      ul > li > .item-label
        background transparent
        border 1px solid $c-blue
        color $c-blue
        font 600 10px/24px $fn-primary
      span.cat
        background lighten($c-light-gray, 5%)
        border 1px solid darken($c-light-gray, 5%)
        border-radius 2px
        color darken($c-gray, 10%)
        display inline-block
        font-family $fn-title
        font-size 11px
        font-weight 300
        letter-spacing 0.05em
        line-height 20px
        margin-top 5px
        padding 0 6px
        // text-transform uppercase
        vertical-align middle
    &.implications
      // min-height 300px
      // padding-bottom 100%
      .wrap
        background white
        border 1px solid $c-light-gray
        border-radius 4px
        box-shadow 0 1px 4px rgba(#3F4E5A, 0.1)
        padding $padding ($padding + 15)
      ul
        border-bottom 1px solid $c-light-gray
        list-style none
        margin 0
        padding-left $padding
        & > li
          cursor pointer
          display inline-block
          font-size 13px
          margin 0
          padding 0 15px ($padding / 2)
          position relative
          &:first-of-type
            margin-left -20px
          &.active
            color $c-blue
            font-weight 500
            &:before
              background $c-blue
              bottom -1px
              content ""
              height 2px
              left 0
              position absolute
              right 0
              width 100%
          &:nth-child(n+2)
            margin-top 0
      .tab
        padding 20px 15px
        position relative
        z-index 2
        strong
          display block
          font-size 16px
          font-weight 600
          line-height 36px
          margin-bottom 5px
          [class*='ti']
            background transparent
            color $c-blue
            display inline-block
            font-size 22px
            // margin-bottom 3px
            line-height 32px
            margin-right 10px
            position relative
            top -2px
            vertical-align middle
        [contenteditable]
          font-size 14px
          line-height 24px
    &.decisions
      ul > li > .item-label
        background transparent
        border 1px solid $c-border
        i
          color $c-blue
          font-size 24px
          left 2px
          position relative
          text-shadow 0 1px 0 white, 0 2px 0 white, 0 3px 0 white, 0 4px 0 white, 0 5px 0 white, 0 -1px 0 white, 0 -2px 0 white, 0 -3px 0 white, 0 -4px 0 white, 0 -5px 0 white
          top -4px
          vertical-align bottom
    &.direct-quotes
      .content ul li .item-label.quote-icon
        border 0
    /*
    &.empty
      position relative
      ul:not(.nav)
        & > li
          &:nth-child(n+2)
            margin-top ($padding * 2)
          & > .item-label
            background #EFF1F4
            border 1px solid transparent
            display block
          h3,
          p
            display block
      i
        color darken(#EFF1F4, 10%)
      span
        background #EFF1F4
        display block
        &.icon
          border-radius 22px
          float left
          height 22px
          width 22px
      .qa-photo
        background #EFF1F4
        border 1px solid transparent
        display block
      .add
        align-items center
        left 0
        display flex
        height 100%
        justify-content center
        position absolute
        top 0
        width 100%
        .overlay
          background white
          box-shadow 0 1px 4px rgba(#3F4E5A, .2)
          display inline-block
          padding ($padding + 10)
    */
  h1,
  h2,
  p
    margin 0 auto 5px
    
.sidebar
  // background-color #F8F9FA
  border-left 1px solid $c-light-gray
  height 100%
  overflow auto
  padding 35px ($padding + 25) ($padding * 6) ($padding + 10)
  position fixed
  right -100%
  top 40px
  // transition right 0.15s ease
  transition right 400ms ease, opacity 200ms ease
  // transform translateX(100%)
  width 320px
  z-index 11
  /*
  @media screen and (min-width 1280px)
    animation ShowSidebar 200ms 1
    right -15px
  */
  &.show
    animation ShowSidebar 200ms 1
    right -15px
  .sidebar_section
    margin-bottom 30px
    .sc_row
      margin ($padding - 5) 0 $padding
    h4
      border-bottom 1px solid $c-icons
      font 300 15px/30px $fn-title
      letter-spacing 0.015em
      margin 0
    p.label
      color #9FACB9
      font 500 10px/10px $fn-title
      letter-spacing 0.125em
      margin 0
    .input-block
      background-color #EFF1F4
      padding ($padding / 2)
      span
        display inline-block
        font-size 11px
        line-height 11px
        vertical-align bottom
    .comments
      .input-block.comment
        margin 0 0 ($padding / 2)
        padding $padding
        position relative
        p
          font-size 13px
          line-height 19px
          margin 0
        span.name
          display inline-block
          font 500 9px/9px $fn-title
          letter-spacing 0.1em
          opacity 0.5
          text-transform uppercase
          vertical-align bottom
        .ti-close
          left 103%
          top 0
    ul.dropdown-menu
      max-width 245px
      li
        line-height 32px
        margin 0
        text-decoration none
        a
          text-decoration none !important
          font-weight normal !important
    ul.items
      list-style none
      margin 0
      padding 0
      & > li
        display block
        font-size 12px
        font-weight 400
        line-height 16px
        margin 0 0 ($padding / 2)
        padding-left $padding
        position relative
        a
          text-decoration underline
      &[class*="list"] li:before
        font-family "themify"
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale
        font-style normal
        font-variant normal
        font-weight normal
        left 0
        line-height 16px
        position absolute
        text-decoration none
        text-transform none
        top 0
        vertical-align middle
      &.list-links li:before
        content "\e62d"
      &.list-bullet
        li:before,
        li:after
          bottom 0
          line-height 16px
          margin auto
          position absolute
          top 0
    a
      color inherit
      display inline-block
      font 500 12px/16px $fn-primary
      letter-spacing 0.05em
      text-decoration underline
    input[type="text"],
    input[disabled],
    textarea
      appearance none
      background white
      border 1px solid $c-border
      border-radius 2px
      display block
      font-size 12px
      margin-top ($padding / 4)
      outline 0
      padding 0 ($padding / 2)
      transition border 200ms ease, box-shadow 200ms ease
      width 100%
    input[type="text"],
    input[disabled]
      height 32px
    input[disabled]
      background #EFF1F4
    input[type="submit"]
      background $c-teal
      border 0
      color white
      font 600 10px/24px $fn-primary
      letter-spacing 0.15em
      margin-top ($padding / 2)
      outline 0
      padding 0 ($padding / 2)
      transition background 200ms ease
      &:hover,
      &:focus
        background darken($c-teal, 20%)
    textarea
      padding-bottom ($padding / 2)
      padding-top ($padding / 2)
      &.has-error
        border 1px solid #DE4A31
        &:focus
          box-shadow 0 0 5px rgba(#DE4A31, 0.2)
      

  .status
    .status-bar
      background #EFF1F4
      border-radius 4px
      height 10px
    .status-label
      font-size 10px
      line-height 22px
      vertical-align baseline
    &.past
      .status-bar
        background rgba($c-teal, 0.25)
    &.active
      .status-bar
        background $c-teal
      .status-label
        font-weight 600
        
.project-nav
  padding-left ($padding * 2)
  position fixed
  top 50%
  transform translateY(-50%)
  z-index 9
  &.fade
    opacity 0.1
    &:hover
      opacity 1
  ul
    list-style none
    margin 0
    padding 0
    &:before
      background lighten($c-gray, 60%)
      content ""
      height 100%
      left $padding
      position absolute
      top 0
      width 1px
    li
      cursor pointer
      font-size 12px
      line-height 4em
      position relative
      transition all 200ms ease
      span
        opacity 0
        transition opacity 200ms ease
      a
        color #9FACB9
        display inline-block
        text-decoration none
        transition color 200ms ease
        vertical-align middle
      &.active
        color darken(#9FACB9, 60%)
      &:before
        background lighten($c-gray, 60%)
        border 3px solid white
        border-radius 6px
        bottom 0
        content ""
        display inline-block
        height 6px
        left -25px
        margin auto
        position absolute
        top 0
        width 6px
        z-index 3
      &:after
        background transparent
        bottom 0
        content ""
        height 100%
        left -20px
        position absolute
        top 0
        width 1px
        z-index 2
      &.active
        color $c-teal
        content ""
        &:before
          background $c-teal
        &:after
          background $c-teal
          z-index 2
      &.heading
        border-bottom 0
        color $c-gray
        font-family $fn-title
        font-weight 400
        letter-spacing 0.125em
        // height 20px !important
        // line-height 20px !important
        // margin-top 20px
        &:hover
          color darken($c-gray, 20%)
        &:before
          display none
  &:hover ul li span
    opacity 1
.notifications
  background-color #FFFFFF
  border 1px solid #EEF1F5
  border-radius 0 2px
  color $c-gray
  font-size 13px
  line-height 13px
  padding 20px
  input
    margin-right 5px
  p
    display inline-block
    margin 0
    em
      color $c-blue
      font-style normal
.share
  background-color #FFFFFF
  border 1px solid #EEF1F5
  border-radius 0 2px
  color $c-gray
  font-size 13px
  margin auto
  // position fixed
  right 0
  text-align left
  top 39px
  width 450px
  z-index 10
  .avatar
    background-size cover
    border 1px solid
    border-radius 32px
    color $c-blue
    display inline-block
    height 32px
    position relative
    vertical-align middle
    width 32px
    z-index 1
    &:before
      content attr(data-initials)
      font-size 12px
      height 100%
      left 0
      line-height 30px
      position absolute
      right 0
      text-align center
      top 0
      width 100%
      z-index 0
    &.has-photo:before
      opacity 0
  .share_to
    border-bottom 1px solid #EEF1F5
    // line-height 60px
    padding ($padding / 2) ($padding * 2) ($padding / 2) ($padding * 3)
    &:before
      content "To:"
      height 60px
      left 5px
      line-height 60px
      position absolute
      text-align center
      top 1px
      width 60px
    input
      border 0
      font-size inherit
      height 40px
      line-height 40px
      outline 0
      width 100%
    .clear
      cursor pointer
      font-size 16px
      font-weight 400
      line-height 60px
      opacity 0
      padding 0 20px 0 10px
      position absolute
      right 0
      top 1px
      transition opacity 200ms ease
      &.in
        opacity 1
  .share_list
    padding 5px 0
    .sl_item
      align-items center
      display flex
      height 50px
      padding 0 $padding
      position relative
      transition opacity 200ms ease, top 200ms ease
      width 100%
      .avatar
        flex-grow 0
        margin-right 10px
        &.has-photo
          border 0
      .sli_content
        flex-grow 2
      .select
        .form-control
          font-size 10px
          font-weight 500
          letter-spacing 0.05em
          padding 0 10px
          text-align center
        .icon
          position absolute
          right 5px
      span.name,
      span.email
        display block
        line-height 15px
      span.name
        color $c-copy
        font-size 14px
        font-weight 500
      span.email
        color #8CA0B3
        font-size 12px
      span.controls
        bottom 0
        cursor pointer
        display block
        font-size 10px
        font-weight 600
        letter-spacing 0.15em
        line-height 50px
        position absolute
        right 0
        text-align center
        top 0
        width 100px
        span.controls_status
          color #8CA0B3
          &:hover
            color $c-copy
        ul
          // absolute top -10px
          background-color white
          border 1px solid #EEF1F5
          border-radius 2px
          box-shadow 0 2px 5px rgba($c-copy, 0.3)
          color #8CA0B3
          display none
          list-style none
          margin auto
          padding 2px 0
          position relative
          text-align center
          top -10px
          width 100%
          z-index 2
          &:before
            content ""
            border-left 7px solid transparent
            border-right 7px solid transparent
            border-bottom 7px solid white
            height 0
            left 0
            margin auto
            position absolute
            right 0
            top -7px
            width 0
            z-index 2
          &:after
            content ""
            border-left 8px solid transparent
            border-right 8px solid transparent
            border-bottom 8px solid #EEF1F5
            height 0
            left 0
            margin auto
            position absolute
            right 0
            top -8px
            width 0
            z-index 1
          li
            line-height 30px
            &.active
              color $c-blue
        &.edit-mode
          ul
            display block
            li
              line-height 30px
      &.result
        cursor pointer
        &:hover
          background-color rgba($c-blue, 0.1)
      &.invalid
        opacity 0.5
      &.invitee
        animation NewInvite 200ms 1
  .share_invitees
    clearfix()
    font-size 12px
    padding ($padding / 2) $padding ($padding - 5)
    .invitee
      background rgba($c-blue, 0.1)
      border-radius 2px
      cursor pointer
      padding 4px ($padding / 2)
      display inline-block
      margin 0 5px 5px 0
      flex-grow 0
      float left
      vertical-align middle
      &:hover
        background rgba(red, 0.1)
  .share_footer
    border-top 1px solid #EEF1F5
    font-size 12px
    padding $padding
    textarea
      border 0
      font-size inherit
      height 30px
      line-height 16px
      margin 6px 0
      outline 0
      resize none
      padding-right 10px
      transition height 200ms ease-in-out
      width 100%
    a.btn
      float right
      width auto
      &.btn-secondary
        background transparent
        border 1px solid transparent
        color $c-gray
        &:hover
          color darken($c-gray, 20%)
  .note
    background rgba($c-blue, 0.1)
    padding 0 $padding
.progress-card
  margin-bottom ($padding * 2)
  padding $padding
  .flex-row
    align-items center
    .item
      flex 0 0 80px
      &.main
        flex 4 1 auto
        padding-right 150px
  .progress-bar
    height 26px
    .pb_label
      font-size 12px
      line-height 12px
      margin-bottom 6px
    .pb_meter
      background $c-light-gray
      border-radius 8px
      height 8px
      overflow hidden
      position relative
      .pb_meter_progress
        background $c-teal
        height 100%
        left 0
        min-width 5%
        position absolute
        top 0
  .item:not(.main)
    font-size 10px
    position relative
    text-align center
    .badge
      background $c-light-gray
      border-radius 16px
      display inline-block
      font-size 8px
      font-weight 600
      height 16px
      left 20px
      line-height 16px
      position absolute
      text-align center
      top -6px
      width 16px
    span
      color $c-blue
      display inline-block
      font-size 18px
      margin-bottom 4px
    &:last-of-type
      margin-right -10px
      &:after
        background $c-light-gray
        bottom 0
        content ''
        display inline-block
        left 0
        margin auto
        height 26px
        position absolute
        top 0
        width 1px
    .hidden-menu
      background white
      border 1px solid $c-border
      border-radius 2px
      left 50%
      padding $padding
      position absolute
      right initial
      text-align left
      top 60px
      transform translateX(-50%)
      &:before,
      &:after
        content ''
        height 0
        left 0
        margin auto
        position absolute
        right 0
        width 0
      &:before
        border-left 10px solid transparent
        border-right 10px solid transparent
        border-bottom 10px solid white
        top -10px
        z-index 2
      &:after
        border-left 11px solid transparent
        border-right 11px solid transparent
        border-bottom 11px solid $c-border
        top -11px
        z-index 1
      ul.attachments
        li
          display block
          margin 0
          a
            color $c-copy
            display block
            white-space pre
            i
              color $c-blue
          &:nth-child(n+2)
            margin-top 15px

.hidden-menu
  // opacity 
  box-shadow 0 1px 10px rgba(#3F4E5A, 0.05)
  opacity 0
  position fixed
  right 0
  top 30px
  transition top 200ms ease, opacity 100ms ease, visibility 100ms ease
  visibility hidden
  z-index -1
  .loading
    position absolute
    top 0
    width 100%
.active
  .hidden-menu
    opacity 1
    top 39px
    visibility visible
    z-index 11
.grid
  margin 20px -20px
  .grid-item
    padding 0 ($padding / 2) $padding
    float left
    width 33.3333%  
  .project-card
    background white
    border 1px solid $c-light-gray
    border-radius 2px
    color $c-copy
    margin 0
    transition box-shadow 200ms ease
    .pc_content
      padding $padding $padding 0
    .pc_meta
      padding $padding
    .pc_meta
      align-items center
      display flex
      .avatar
        flex 0 0 24px
        margin-right 10px
      & > *
        flex 1
    span,
    strong
      display block
    .title
      color $c-blue
      font-size 20px
      line-height 26px
      font-family $fn-title
      font-weight 300
      letter-spacing 0.05em
      margin 5px 0 0
    span.cat
      color darken($c-gray, 10%)
      font-size 10px
      font-family $fn-title
      font-weight 400
      letter-spacing 0.15em
      text-transform uppercase
      &.status
        color $c-gray
        span
          color $c-copy
          font normal 14px/18px $fn-primary
          text-transform initial
    .time,
    .lead
      color darken($c-gray, 10%)
      font-family $fn-title
      font-size 12px
      font-weight 300
      letter-spacing 0.05em
      line-height 12px
    &:hover
      border 1px solid $c-light-gray
      box-shadow 0 1px 4px rgba(#3F4E5A, 0.1)

@keyframes ShowSidebar
  0%
    right -100%
  60%
    right 0px
  100%
    right -10px
@keyframes NewInvite
  0%
    opacity 0
  100%
    opacity 1
    
/* Edit State */
.edit
  .project-title .attachments li
    display block
  input.form-control,
  textarea.form-control
    padding ($padding / 2)
    transition height 200ms ease
  span.cat
    &:hover
      background rgba(#F8E71C, 0.1) !important
      border 1px solid rgba(#F8E71C, 0.2) !important
    &:focus:hover
      background lighten($c-light-gray, 5%) !important
      border 1px solid darken($c-light-gray, 5%) !important
  .slick-list
    height auto !important
    overflow auto !important
  .item-label
    left 30px
  .project-content
    span.add
      display block
      margin-top $padding
      padding-left 0
    // .project-content_section ul li:nth-child(n+2)
      // margin-top ($padding / 2)
    // .project-content_section .quote:nth-child(n+2)
      // margin-top $padding
    .content .quote .ti-close,
    .personas .ti-close
      color $c-gray
      position absolute
      left 102%
      top 0
      &:hover
        color $c-copy
    // input + textarea
      // margin-top ($padding / 2)
    ul.dropdown
      padding 0
    .form-control
      border 0
      border-bottom 1px solid $c-light-gray
      box-shadow none
      box-shadow 0
      height 24px
      padding 0
      transition border-color 200ms ease
      &:focus
        box-shadow none
        box-shadow 0
      &:hover
        border-color $c-gray
.attachments li
  display inline-block
  margin-bottom ($padding / 2)
  .select
    flex 1
    span
      color $c-copy
      position absolute
  input
    flex 2
  .add
    cursor pointer
.sidebar
  .ti-close
    color $c-copy
    cursor pointer
    flex 0
    position absolute
    width 14px
    z-index 2
    &:hover
      color red
  .tags-row
    margin 10px 0 0
  .tags
    height auto
    padding 2px
    input[type="text"]
      border 0
      height 28px
      line-height 28px
      outline 0
      margin 1px
      padding 0 0 0 5px
      vertical-align middle
    ul.tag-list
      li.tag-item
        font-size 12px
        height 20px
        line-height 18px !important
        margin 1px 2px 4px 5px
        padding 0 4px
        a
          text-decoration none
  .attachments li
    color $c-copy
    display block
    a
      font-weight 400
      text-decoration none
      i
        margin-right 5px
    .flex-row
      padding 0
    .select,
    input
      flex 1
      span.ti-angle-down
        right 10px
    select,
    input
      padding 0 10px
    .flex-row + input
      margin-top 10px
    .ti-close
      left 103%
      top 0
  span.add
    padding-left 0
.faded
  opacity 0
  transition 0
  
.mce-edit-focus
  outline 0 !important
  
[id^='section-']
  margin 0 0 50px
  clearfix()
  
h3 span
  width 100%

[slick],
.slick-track,
.slick-slide
  border 0 !important
  outline 0 !important
  
input.blur
  bottom 0
  display none
  height 0
  margin auto
  left 0
  overflow auto
  position absolute
  right 0
  // top 0
  width 0
  
.as-sortable-dragging
  opacity 0.2
  
[as-sortable-drag]
  position relative
  
.ui-sortable-placeholder
  background rgba($c-teal, 0.05)
  // border 1px dashed $c-gray
  border 1px dashed rgba($c-teal, 0.35)
  height 32px
  margin-left 30px
  
.filters.animate
  margin 0 -10px 30px
  p
    color $c-gray
    font normal 10px/10px $fn-title
    letter-spacing 0.15em
    margin 0 0 5px
    
.project-card .avatar
  background-size cover
  border 1px solid $c-light-gray
  border-radius 32px
  color $c-blue
  display inline-block
  height 24px
  position relative
  vertical-align middle
  width 24px
  z-index 1
  &:before
    content attr(data-initials)
    font-size 11px
    font-family $fn-title
    letter-spacing 0.05em
    height 100%
    left 0
    line-height 24px
    position absolute
    right 0
    text-align center
    top 0
    width 100%
    z-index 0
  &.has-photo:before
    opacity 0