header.header(ng-controller='NavbarController', ng-show="nav.isLoggedIn()")
  //- .header-action: span.icon.ti-menu
  .header-title Conclude
  //- .header-nav: ul.icons
    li: a(href="#"): span.ti-pencil-alt
    li: a(href="#"): span.ti-share
    li: a(href="#"): span.ti-bell
    li: a(href="#"): span.ti-info-alt
    li: a.active(href="#"): span.ti-plus