.welcome
  //- span.biline WELCOME TO
  span.title Conclude
  a.btn.btn-outline(style="max-width: 180px", ng-show="Auth.isLoggedIn()", ui-sref="new") NEW PROJECT
  a.btn.btn-outline(style="max-width: 180px", ng-hide="Auth.isLoggedIn()", ui-sref="login") SIGN IN