<!doctype html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Conclude</title>
</head>

<body bgcolor="#f6f6f6">

<!-- body -->
<table class="body-wrap" bgcolor="#f6f6f6">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <!-- content -->
      <div class="content">
      <table>
        <tr>
          <td>
            <p>Hey <%= user.first %>,</p>
            <p><i><%= project.title %></i> was just shared with you on Conclude.</p>
            <% if (project.message) { %>
            <p class="quote"><%= project.message %></p>
            <% } %>
            <br>
            <!-- button -->
            <table class="btn-primary" cellpadding="0" cellspacing="0" border="0">
              <tr>
                <td>
                  <a href="http://rp.concludeapp.co/project/<%= project._id %>">Log In to View</a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      </div>
      <!-- /content -->
      
    </td>
    <td></td>
  </tr>
</table>
<!-- /body -->

</body>
</html>