.pre-auth
  height 100%
  padding 0
  .columns
    display flex
    height 100%
    margin-top 0
    .l-col,
    .r-col
      flex-grow 1
      padding $padding
      height 100%
      width 100%
  .auth-form
    align-items center
    display flex
    flex-direction column
    justify-content center
    form
      clear both
      margin-top ($padding * 2)
      max-width 350px
      width 100%
      .error-message
        background-color rgba(#DE4A31, 0.2)
        // border 1px solid #DE4A31
        border-radius 2px
        color #DE4A31
        font-size 13px
        line-height 40px
        padding 0 ($padding / 2)
        text-align center
      .form-action
        margin-top ($padding + 10)
      .btn-google
        background-color #DE4A31
      .forgot
        color $c-gray
        display block
        font-size 10px
        margin-top ($padding / 2)
        text-align center
        text-decoration underline
        &:hover
          color darken($c-gray, 20%)
  .has-background
    background $c-gray url("/assets/images/auth.jpg") no-repeat center
    background-size cover
    position relative
    /*
    &:before,
    &:after
      content ''
    &:before
      background-color rgba(black, 0.5)
      height 100%
      left 0
      position absolute
      top 0
      width 100%
      z-index 1
    &:after
      align-items center
      color #FFFFFF
      content 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in odio urna. Sed facilisis purus quis fringilla cursus. Nullam id odio et urna sollicitudin consectetur quis nec quam.'
      display flex
      height 100%
      justify-content center
      font-family 'Georgia'
      font-size 24px
      font-style italic
      line-height 32px
      position relative
      z-index 2
    */