.container
  margin 0 auto
  max-width 620px
  &.large
    max-width 1200px
    padding 0 $padding

hr
  background $c-border
  border 0
  height 1px

.pull-right
  float right !important
.pull-left
  float left !important
.text-left
  text-align left !important
.text-right
  text-align right !important
    
.tr-up
  text-transform uppercase
.tr-title
  text-transform capitalize
  
.text-center
  text-align center

::selection
  background #CEF3EC
  
.group
  clear both
  content ""
  display table
  width 100%
  
.flex-row
  display flex
  margin-left -($padding / 4)
  margin-right -($padding / 4)
  &.tags
    flex-wrap wrap
  & > *
    flex-grow 1
    margin 0 ($padding / 4)
    width 100%
    
placeholder()
  &::-webkit-input-placeholder
      {block}
  &:-moz-placeholder
      {block}
  &::-moz-placeholder
      {block}
  &:-ms-input-placeholder
      {block}

$edit = darken(#FFF, 2%)
[contenteditable=true]
  display block
  font-size inherit
  transition background 200ms ease, opacity 200ms ease
  &:hover
    background rgba(#F8E71C, 0.1)
  &:focus
    background $edit
    outline 0
    &:hover
      background $edit
  &:before
    content attr(placeholder)
    font-size inherit
    font-weight 400
    opacity 0.5
    left 0
    min-width 600px
    position absolute
    top 0
    z-index -1
  &.ng-empty:not(:focus)
    background transparent
    overflow hidden
    &:hover
      background rgba(#F8E71C, 0.1)
  &.ng-not-empty:before
    content ''
  &.animate.ng-empty
    height 24px
  &.animate.ng-hide-add,
  &.animate.ng-hide-remove
    transition height 100ms ease, opacity 200ms ease
  &.animate.ng-hide
    height 0 !important
    min-height 0 !important
    opacity 0 !important

.m-10
  margin-top 10px
.m-5
  margin-top 5px

.no-animate
  transition none !important
  
.hide-all
  display none !important
  
.mce-btn:hover,
.mce-btn:focus
  background lighten($c-light-gray, 10%) !important
  border-color transparent !important
.mce-btn
  transition background 100ms ease
  
.cf:after
  content ""
  display table
  clear both