/*
 * Variables
 */
$c-teal = #5DD9C1
$c-blue = #2C97DE
$c-copy = #323E4E
$c-gray = darken(#9FACB9, 10%)
$c-light-gray = #EEF1F5
$c-border = #DCE6E9
$c-icons = #A9B7C8

$fn-primary = "Avenir Next", "Avenir", "Proxima Nova", sans-serif
$fn-secondary = "Times New Roman", serif
$fn-title = "Gill Sans", "Gill Sans MT", Calibri, sans-serif
$padding = 20px